<!DOCTYPE html>
<html lang="en">
<!--🤘🤘🤘-->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpus Company</title>
    <link rel="stylesheet" src="./static/css/style.css" th:href="@{/css/style.css}">

</head>

    <body>
        <img id="easter" class="easterEgg" src="../../static/img/ntanko.png">


        <div class="pai">

            <b class="titulo">Limpus Company<img id="imagemZika" src="../../static/img/logo.png"></b>
            <div class="titulo2">Chat Cleaner</div>

            <div class="caixa">

                <input id="censura" placeholder="🤘">
                <button id="enviar">Enviar</button>

            </div>
            <div class="caixa">

                <textarea readonly class="chatS" name="Chat Insano" id="chat" rows="25" cols="50"></textarea>

            </div>
            <img src="../../static/img/cooltext496823960962091.gif">

            <footer>Copyright © 2025  - Todos os direitos Reservados - Limpus Company 🤘</footer>
        </div>

        <script src="./static/js/script.js" th:src="@{/js/script.js}"></script>
    </body>

</html>