<!DOCTYPE html>
<html lang="en">
<!--🤘🤘🤘-->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpus Company</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

    <body>
        <img id="easter" class="easterEgg" th:src="@{/img/ntanko.png}">


        <div class="pai">

            <b class="titulo">Limpus Company<img id="imagemZika" th:src="@{/img/logo.png}"></b>
            <div class="titulo2">Chat Cleaner</div>

            <div class="caixa">

                <input id="censura" placeholder="🤘">
                <button id="enviar">Enviar</button>

            </div>
            <div class="caixa">

                <textarea readonly class="chatS" name="Chat Insano" id="chat" rows="25" cols="50"></textarea>

            </div>
            <img th:src="@{/img/irado.gif}">

            <footer>Copyright © 2025  - Todos os direitos Reservados - Limpus Company 🤘</footer>
        </div>

        <script th:src="@{/js/script.js}"></script>
    </body>

</html>